<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets -%}
        <link href="{{ asset('app_build/app_styles.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    {% endblock -%}

    <!-- twv-script -->
    {% if is_granted('ROLE_ADMIN') %}
        <link href="{{ asset('bundles/twigvisual/css/twv-icomoon/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/twigvisual/dist/twigvisual_styles.min.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/twigvisual/dist/twigvisual.min.js') }}"></script>
        <script>
            const twigVisual = new TwigVisual( {{ twigVisualOptions(_self, _context) }} );
        </script>
    {% endif %}
    <!-- /twv-script -->

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app_build/app.js') }}"></script>
{% endblock %}

</body>
</html>
