{% extends 'profile/profile.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <h4>{{ 'Change password' | trans }}</h4>

            {{ form_start(form, {'action': path('profile_change_password')}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="button-submit">
                    {{ 'Submit' | trans }}
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
