<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('shk-app/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/node_modules/nouislider/distribute/nouislider.min.css') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/css/icomoon/style.css') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/css/styles.css') }}" rel="stylesheet">

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/wnumb/wNumb.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/nouislider/distribute/nouislider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/js/shopkeeper.js') }}"></script>
    <script>
        var shk = new Shopkeeper();
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}

<div class="footer border-top mt-3">
    <div class="container">
        <div class="py-3 text-muted">
            {{ app_name }} &copy; 2018
        </div>
    </div>
</div>


</body>
</html>