<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('shk-app/node_modules/bootstrap/dist/css/bootstrap.min.css?v=4.1.0') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/node_modules/nouislider/distribute/nouislider.min.css') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/css/icomoon/style.css') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/css/styles.css?v=0.0.7') }}" rel="stylesheet">

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/wnumb/wNumb.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/node_modules/nouislider/distribute/nouislider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('shk-app/js/shopkeeper.js?v=0.0.7') }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        var shk = new Shopkeeper();
    </script>
{% endblock %}

{% block footer %}
    <div class="footer border-top mt-3">
        <div class="container">
            <div class="py-3 text-muted">
                {{ app_name }} &copy; 2018
            </div>
        </div>
    </div>
    {% if app.request.attributes.get('_route') not in ['shop_cart_edit'] %}
        {% autoescape false %}
            {{ shopCart('shop_cart') }}
        {% endautoescape %}
    {% endif %}
{% endblock %}

</body>
</html>