{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
<main role="main" class="container">
    <div class="row">
        <div class="col-12 col-md-3">

            <div class="list-group mb-3">
                {% for category in childCategories %}
                    <a href="{{ app.request.baseUrl }}/{{ category.uri }}" class="list-group-item list-group-item-action">
                        {{ category.title }}
                    </a>
                {% endfor %}
            </div>

        </div>
        <div class="col-12 col-md-9">

            <div class="btn-group btn-breadcrumb mb-3">
                <a href="{{ app.request.baseUrl }}/" class="btn btn-secondary">
                    <i class="icon-home"></i>
                </a>
                <a href="{{ app.request.baseUrl }}/{{ currentCategory.uri }}" class="btn btn-secondary">
                    {{ currentCategory.title }}
                </a>
            </div>

            <h1>
                {{ currentPage.title }}
            </h1>



        </div>
    </div>
</main>
{% endblock %}
