<header class="header bg-dark mb-4 py-2">
    <div class="container">
        <nav class="navbar-dark">
            <a class="ml-3 navbar-brand text-white" href="{{ path('homepage') }}">
                {{ app_name }}
            </a>
            <div class="float-right">
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-primary mt-1 mr-1" data-toggle="tooltip" data-placement="bottom" title="{{ 'Administration' | trans }}" href="{{ path('admin') }}" target="_blank">
                            <i class="icon-cog"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-outline-primary mt-1 mr-1" href="{{ path('logout') }}">
                        {{ 'Log out' | trans }}
                        <i class="icon-power"></i>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-outline-primary mt-1 mr-1" href="{{ path('login') }}">
                        {{ 'Log in' | trans }}
                        <i class="icon-unlock"></i>
                    </a>
                {% endif %}
            </div>
            <div class="d-block d-lg-inline-block">
                <ul class="nav">
                    {% for category in categoriesTopLevel %}
                        <li class="nav-item">
                            <a href="{{ catalogPath(category.uri) }}" class="nav-link{% if category.isActive %} text-white{% else %} text-secondary{% endif %}">
                                {{ category.title }}
                            </a>
                        </li>
                    {%  endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>