<nav class="navbar-header navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="d-inline-block d-lg-none p-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarContent">
            {{ categoriesTree(0, 'menu_dropdown', null, true) }}
            <div class="d-inline-block pt-2 pb-2 pl-2">
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="{{ 'Administration' | trans }}" href="{{ path('admin') }}" target="_blank">
                            <i class="icon-cog"></i>
                        </a>
                    {% endif %}
                    <div class="d-inline-block btn-group ml-1">
                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="icon-head"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('profile_history_orders') }}">
                                <i class="icon-list text-muted"></i>
                                &nbsp;
                                {{ 'History of orders' | trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('profile_contacts') }}">
                                <i class="icon-head text-muted"></i>
                                &nbsp;
                                {{ 'Contact details' | trans }}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-muted" href="{{ logout_path() }}">
                                <i class="icon-power"></i>
                                &nbsp;
                                {{ 'Log out' | trans }}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-sm btn-outline-primary ml-1" href="{{ path('login') }}">
                        {{ 'Log in' | trans }}
                        <i class="icon-unlock"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<header>
    <div class="inner">
        <div class="container">
            <div class="float-right">
                {{ currencyList() }}
            </div>
            <a class="header-brand" href="{{ path('homepage') }}">
                {{ app_name }}
            </a>
        </div>
    </div>
</header>