<nav class="navbar-header navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="d-inline-block d-lg-none p-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarContent">
            {% autoescape false %}
                {{ categoriesTree(0, 'menu_dropdown', null, true) }}
            {% endautoescape %}
            <div class="d-inline-block pt-2 pb-2 pl-2">
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="{{ 'Administration' | trans }}" href="{{ path('admin') }}" target="_blank">
                            <i class="icon-cog"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-outline-primary ml-1" href="{{ path('logout') }}">
                        {{ 'Log out' | trans }}
                        <i class="icon-power"></i>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-outline-primary ml-1" href="{{ path('login') }}">
                        {{ 'Log in' | trans }}
                        <i class="icon-unlock"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<header>
    <div class="inner">
        <div class="container">
            <div class="float-right">
                <select class="form-control form-control-sm">
                    <option value="rub">Руб</option>
                    <option value="usd">USD</option>
                    <option value="eur">EUR</option>
                </select>
            </div>
            <a class="header-brand" href="{{ path('homepage') }}">
                {{ app_name }}
            </a>
        </div>
    </div>
</header>