<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        {{ app_name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if currentName == 'home' %} active{% endif %}">
                <a class="nav-link" href="{{ path('homepage') }}">
                    {{ 'Home page' | trans }}
                </a>
            </li>
            {% for category in categoriesTopLevel %}
                <li class="nav-item{% if category.name == currentName %} active{% endif %}">
                    <a class="nav-link" href="{{ app.request.baseUrl }}/{{ category.name }}">
                        {{ category.title }}
                    </a>
                </li>
            {%  endfor %}
        </ul>
    </div>
</nav>