<header class="mb-4">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    {{ app_name }}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        {% for category in categoriesTopLevel %}
                            <li class="nav-item{% if category.isActive %} active{% endif %}">
                                <a href="{{ catalogPath(category.uri) }}" class="nav-link">
                                    {{ category.title }}
                                </a>
                            </li>
                        {%  endfor %}
                    </ul>
                    <div>
                        {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-sm btn-outline-primary mt-1 mr-1" data-toggle="tooltip" data-placement="bottom" title="{{ 'Administration' | trans }}" href="{{ path('admin') }}" target="_blank">
                                    <i class="icon-cog"></i>
                                </a>
                            {% endif %}
                            <a class="btn btn-sm btn-outline-primary mt-1 mr-1" href="{{ path('logout') }}">
                                {{ 'Log out' | trans }}
                                <i class="icon-power"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-outline-primary mt-1 mr-1" href="{{ path('login') }}">
                                {{ 'Log in' | trans }}
                                <i class="icon-unlock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>