{% extends 'base.html.twig' %}

{% block body %}
    <div class="float-right p-3">
        <a class="btn btn-secondary btn-sm" href="{{ path('logout') }}">
            Log out
        </a>
    </div>
    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            filesDirUrl: '{{ settings.filesDirUrl }}',
            locale: '{{ settings.locale }}'
        };
    </script>
    <script type="text/javascript" src="{{ asset('shk-app/i18n/') }}{{ settings.locale }}.js"></script>
    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.ed006749bf7f3f7bc00e.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.be5b670f13ffd5e534a4.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.166620144ae40158410d.bundle.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/styles.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/vendor.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.bundle.js') }}"></script>
    {% endif %}
{% endblock %}
