{% extends 'base.html.twig' %}

{% block body %}

    <script>
        document.locale = '{{ settings.locale }}';
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            filesDirUrl: '{{ settings.filesDirUrl }}',
            locale: '{{ settings.locale }}'
        };
    </script>

    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>

{% endblock %}
