{% extends 'base.html.twig' %}

{% block body %}
    <div class="float-right p-3">
        <a class="btn btn-secondary btn-sm" href="{{ path('logout') }}">
            Log out
        </a>
    </div>
    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.locale = '{{ settings.locale }}';
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            filesDirUrl: '{{ settings.filesDirUrl }}',
            locale: '{{ settings.locale }}'
        };
    </script>
    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.cf0640feebab1e103a9d.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.900aaf0d520c2ec873a7.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/vendor.cef42054d84a9aa5a7d2.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.e3c0dbda06c377da7543.bundle.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/styles.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/vendor.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.bundle.js') }}"></script>
    {% endif %}
{% endblock %}
