<p>
    {{ 'reset_password.confirm.email_link' | trans }}:
    <br>
    <a href="{{ siteUrl }}password_confirm/{{ email }}/{{ confirmCode }}">
        {{ siteUrl }}password_confirm/{{ email }}/{{ confirmCode }}
    </a>
</p>