<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}/admin/">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    <link href="{{ asset('shk-app/node_modules/bootstrap/dist/css/bootstrap.min.css', 'vendor') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/node_modules/primeng/resources/themes/bootstrap/theme.css', 'vendor') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/node_modules/primeng/resources/primeng.css', 'vendor') }}" rel="stylesheet">
    <link href="{{ asset('shk-app/css/admin/icomoon/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('shk-app/css/admin/styles.css') }}" rel="stylesheet">

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>