{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>
{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('shk-app/bundle/styles.b4f183d65212cb458e8b.bundle.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            filesDirUrl: '{{ settings.filesDirUrl }}',
            locale: '{{ settings.locale }}',
            systemSettings: {{ settings.systemSettings | json_encode() | raw }}
        };
    </script>
    <script type="text/javascript" src="{{ asset('shk-app/i18n/') }}{{ settings.locale }}.js"></script>
    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.318b50c57b4eba3d437b.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.69b550d5c6f46f594b79.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/scripts.4c99b740d292f3dc7442.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.2e2237a38284a853e7ef.bundle.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('shk-app/bundle/inline.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/polyfills.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/styles.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/scripts.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/vendor.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('shk-app/bundle/main.bundle.js') }}"></script>
    {% endif %}
{% endblock %}
