<!-- filters -->
<form action="{{ catalogPath(currentUri) }}" method="get">
    <input type="hidden" name="limit" value="{{ pagesOptions.limit}}">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="order_by" value="{{ queryOptions.order_by }}">
    <div class="catalog-filters" id="catalog-filters">
        <div class="catalog-filters-header d-block d-md-none">
            <button class="btn btn-secondary btn-block shk-button-filters-hide" type="button">
                <i class="icon-keyboard_arrow_left"></i>
                {{ 'Hide Filters' | trans }}
            </button>
        </div>
        <div class="filters-button-apply shk-onfilter-change">
            <button class="btn btn-secondary btn-block" type="submit">
                <i class="icon-search d-inline-block d-md-none"></i>
                <span class="d-none d-md-inline-block">{{ 'Apply' | trans }}</span>
            </button>
        </div>
        <div class="catalog-filters-wrapper">
            <div class="catalog-filters-inner">
                {{ outputFilters( filters, '', 'filters' ~ currentPage.id ) }}
            </div>
        </div>
        <div class="my-2"{% if queryOptions.filter | length == 0 %} style="display: none;"{% endif %}>
            <a class="btn btn-info btn-sm btn-block shk-button-filters-reset" href="{{ catalogPath(currentUri) }}?limit={{ pagesOptions.limit }}&page=1&order_by={{ queryOptions.order_by }}">
                {{ 'Reset' | trans }}
            </a>
        </div>
    </div>
</form>
<!-- /filters -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        shk.updateOptions({priceFilterName: '{{ priceFieldName }}'});
    });
</script>
