<div id="shoppingCartContainer">
    <h1>
        {{ 'Favorites' | trans }}
    </h1>
    {% if items | length > 0 %}
        <form action="{{ path('shop_cart_action') }}" method="post">
            <input type="hidden" name="type" value="{{ type }}">
            <table class="table border-bottom">
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <div>
                                <a href="/{{ item.uri }}">
                                    {{ item.title }}
                                </a>
                            </div>
                        </td>
                        <td>
                            {{ 'Price' | trans }}:
                            <span class="shk-price">{{ item.price | price }}</span>
                            <span class="shk-currency">{{ currencySelected }}</span>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-outline-info ml-1" type="submit" name="remove_by_index" value="{{ loop.index0 }}" title="{{ 'Delete item' | trans }}">
                                <i class="icon-cross"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <div class="alert alert-info">
            {{ 'Empty.' | trans }}
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>