<div id="shoppingCartContainer">
    <h1>
        {{ 'Shopping cart' | trans }}
    </h1>
    
    {% include 'flash_messages.html.twig' %}
    
    {% if items | length > 0 %}
        <form action="{{ path('shop_cart_action') }}" method="post">
            <input type="hidden" name="type" value="{{ type }}">
            <div class="float-end">
                <button type="submit" class="btn btn-sm btn-info rounded-pill mb-2" name="action" value="update">
                    <i class="icon-reload"></i>
                    {{ 'Recalculate' | trans }}
                </button>
                <button class="btn btn-outline-info btn-sm rounded-pill mb-2 ml-1" type="submit" name="action" value="clean">
                    <i class="icon-cross"></i>
                    {{ 'Empty cart' | trans }}
                </button>
            </div>
            <div class="clearfix"></div>
            <table class="table mb-3">
                <tbody>
                {% for item in items %}
                    <tr>
                        <td class="d-none d-lg-table-cell">{{ loop.index }}</td>
                        <td class="d-none d-lg-table-cell">
                            <img src="{{ item.image | default('/img/nofoto.png') | imagine_filter('thumb_small') }}" width="100" alt="">
                        </td>
                        <td>
                            <div>
                                <a href="/{{ item.uri }}">
                                    {{ item.title }}
                                </a>
                            </div>
                            {{ item.parametersString | raw }}
                            {% if item.filesString is not empty %}
                                <div class="text-muted small">
                                    <i class="icon-file"></i>
                                    {{ 'File|Files' | trans({'%count%': item.files | length}) }}: {{ item.filesString }}
                                </div>
                            {% endif %}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            <span class="shk-price">{{ item.price | price }}</span>
                            <span class="shk-currency">{{ currencySelected | default(currency) }}</span>
                        </td>
                        <td>
                            <input type="number" class="form-control" min="1" step="1" name="count[]" value="{{ item.count }}" style="width: 80px;">
                        </td>
                        <td>
                            <span class="shk-price">{{ item.priceTotal | price }}</span>
                            <span class="shk-currency">{{ currencySelected | default(currency) }}</span>
                        </td>
                        <td class="text-end">
                            <button class="btn btn-outline-info btn-sm ml-1" type="submit" name="remove_by_index" value="{{ loop.index0 }}" title="{{ 'Delete item' | trans }}">
                                <i class="icon-cross"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    {% if shoppingCart.discountPercent is not empty or shoppingCart.discount is not empty %}
                    <tr>
                        <td class="d-none d-lg-table-cell"></td>
                        <td class="d-none d-lg-table-cell"></td>
                        <td></td>
                        <td class="d-none d-lg-table-cell"></td>
                        <td>
                            <div class="text-end text-danger">
                                {{ 'Discount' | trans }}:
                            </div>
                        </td>
                        <td colspan="2" class="text-danger">
                            {% if shoppingCart.discountPercent is not empty %}
                                {{ shoppingCart.discountPercent }}%
                            {% else %}
                                <span class="shk-price">{{ shoppingCart.discount }}</span>
                                <span class="shk-currency">{{ currencySelected | default(currency) }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="d-none d-lg-table-cell"></td>
                        <td class="d-none d-lg-table-cell"></td>
                        <td></td>
                        <td class="d-none d-lg-table-cell"></td>
                        <td>
                            <div class="float-start">
                            
                            </div>
                            <div class="text-end">
                                {{ 'Total' | trans }}:
                            </div>
                        </td>
                        <td colspan="2">
                            <span class="big shk-price">{{ priceTotal | price }}</span>
                            <span class="shk-currency">{{ currencySelected | default(currency) }}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
    
                        <form action="{{ path('shop_cart_action') }}" method="post">
                            <input type="hidden" name="type" value="{{ type }}">
                            <label for="fieldPromoCode">
                                {{ 'Promo code' | trans }}
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="promo_code" placeholder="{{ 'Enter promo code here' | trans }}" id="fieldPromoCode">
                                <button class="btn btn-outline-secondary" type="submit" name="action" value="promo_code">
                                    {{ 'Submit' | trans }}
                                </button>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="float-end">
                    <a class="btn btn-outline-info rounded-pill btn-wide" href="{{ pathLocalized('page_checkout') }}">
                        {{ 'Continue' | trans }}
                        <i class="icon-keyboard_arrow_right"></i>
                    </a>
                </div>
            </div>
        </div>
        
    {% else %}
        <div class="alert alert-info">
            {{ 'The cart is empty' | trans }}.
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>
