<div class="shop-cart-bottom" id="shoppingCartSmallContainer">
    {% if items | length > 0 %}
        <div class="shop-cart-bottom-container">
            <div class="shop-cart-bottom-b">
                <form action="{{ path('shop_cart_action') }}" method="post">
                    <input type="hidden" name="type" value="{{ type }}">
                    <div class="container">
                        <div class="float-md-left">
                            {{ 'Selected' | trans }}:
                            <span class="badge badge-pill badge-light big mx-2">
                            {{ countTotal }}
                        </span>
                            {{ 'product with a total cost|products with a total cost' | trans({'%count%': countTotal}) }}
                            <span class="badge badge-light big mx-2 shk-price">{{ priceTotal | price }}</span>
                            <span class="shk-currency">{{ currencySelected }}</span>
                        </div>
                        {% if 'page_checkout' not in app.request.attributes.get('_route') %}
                            <div class="float-md-right mt-3 mt-md-0">
                                <a class="btn btn-outline-light" href="{{ pathLocalized('shop_cart_edit') }}">
                                    {{ 'Proceed to checkout' | trans }}
                                </a>
                                <button type="submit" class="btn btn-outline-light ml-1" data-toggle="tooltip" data-placement="top" title="{{ 'Empty cart' | trans }}" name="action" value="clean">
                                    <i class="icon-cross"></i>
                                </button>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
