<div id="shoppingCartContainer">
    <h1>
        {{ 'Shopping cart' | trans }}
    </h1>
    {% if items | length > 0 %}
        <form action="{{ path('shop_cart_action') }}" method="post">
            <input type="hidden" name="type" value="{{ type }}">
            <div class="float-right">
                <button class="btn btn-outline-info btn-sm mb-2" type="submit" name="action" value="clean">
                    <i class="icon-cross"></i>
                    {{ 'Empty cart' | trans }}
                </button>
            </div>
            <div class="clearfix"></div>
            <table class="table">
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <div>
                                <a href="/{{ item.uri }}">
                                    {{ item.title }}
                                </a>
                            </div>
                            {{ item.parametersString | raw }}
                            {% if item.filesString is not empty %}
                                <div class="text-muted small">
                                    <i class="icon-file"></i>
                                    {{ 'File|Files' | trans({'%count%': item.files | length}) }}: {{ item.filesString }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <span class="shk-price">{{ item.price | price }}</span>
                            <span class="shk-currency">{{ currencySelected }}</span>
                        </td>
                        <td>
                            <input type="number" class="form-control" min="1" step="1" name="count[]" value="{{ item.count }}" style="width: 80px;">
                        </td>
                        <td>
                            <span class="shk-price">{{ item.priceTotal | price }}</span>
                            <span class="shk-currency">{{ currencySelected }}</span>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-outline-info ml-1" type="submit" name="remove_by_index" value="{{ loop.index0 }}" title="{{ 'Delete item' | trans }}">
                                <i class="icon-cross"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="float-left">
                            <button type="submit" class="btn btn-sm btn-info" name="action" value="update">
                                <i class="icon-reload"></i>
                                {{ 'Recalculate' | trans }}
                            </button>
                        </div>
                        <div class="text-right">
                            {{ 'Total' | trans }}:
                        </div>
                    </th>
                    <th colspan="2">
                        <span class="big shk-price">{{ priceTotal | price }}</span>
                        <span class="shk-currency">{{ currencySelected }}</span>
                    </th>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="float-right">
            <a class="btn btn-outline-info" href="{{ pathLocalized('page_checkout') }}">
                {{ 'Continue' | trans }}
                <i class="icon-keyboard_arrow_right"></i>
            </a>
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ 'The cart is empty' | trans }}.
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>
