<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets -%}
        <link href="{{ asset('app_build/app_styles.css') }}" rel="stylesheet">

        {#<link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('node_modules/nouislider/distribute/nouislider.min.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/icomoon/style.css') }}" rel="stylesheet">#}
        {#<link href="{{ asset('css/app.css') }}" rel="stylesheet">#}
    {% endblock %}

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app_build/app.js') }}"></script>

    {#<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>#}
    {#<script src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>#}
    {#<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>#}
    {#<script src="{{ asset('node_modules/wnumb/wNumb.js') }}"></script>#}
    {#<script src="{{ asset('node_modules/nouislider/distribute/nouislider.min.js') }}"></script>#}
    {#<script src="{{ asset('js/shopkeeper.js') }}"></script>#}
    {#<script>#}
        {#var shk = new Shopkeeper();#}
    {#</script>#}
{% endblock %}

{% block footer %}
    <div class="footer border-top mt-3">
        <div class="container">
            <div class="float-right p-2">
                <a href="http://modx-shopkeeper.ru/" target="_blank">
                    <img src="{{ asset('img/shk-logo-small-gray.png') }}" width="120" alt="Shopkeeper 4">
                </a>
            </div>
            <div class="py-3 text-muted">
                {{ app_name }} &copy; {{ 'now' | date('Y') }}
            </div>
        </div>
    </div>
    {% if app.request.attributes.get('_route') not in ['shop_cart_edit'] %}
        {{ shopCart('shop_cart') }}
    {% endif %}
{% endblock %}

</body>
</html>