<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets -%}
        <link href="{{ asset('app_build/app_styles.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    {% endblock -%}

</head>
<body>

{% block body %}{% endblock %}

{% block footer %}
    <div class="footer border-top mt-3">
        <div class="container">
            <div class="float-right p-2">
                <a href="http://modx-shopkeeper.ru/" target="_blank">
                    <img src="{{ asset('img/shk-logo-small-gray.png') }}" width="120" alt="Shopkeeper 4">
                </a>
            </div>
            <div class="py-3 text-muted">
                {{ app_name }} &copy; {{ 'now' | date('Y') }}
            </div>
        </div>
    </div>
    {% if 'shop_cart_edit' not in app.request.attributes.get('_route') %}
        {{ shopCart('shop_cart', 'shop', 'shop_cart_empty') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('app_build/app.js') }}"></script>
{% endblock %}

</body>
</html>