{% extends 'base.html.twig' %}

{% block title %}{{ currentPage.title | default('') }} - {{ app_name }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container">

        {% include 'nav/breadcrumbs.html.twig' %}

        {% include 'nav/child-categories-menu.html.twig' %}

        <div class="min-height400 shk-item">

            {{ renderOutputTypeChunk(currentPage, fields, 'header', 'page_') }}

            <form id="shk-form" action="{{ path('shop_cart_add') }}" method="post">
                <input type="hidden" name="item_id" value="{{ currentPage.id }}">
                <input type="hidden" name="category_id" value="{{ currentPage.parentId }}">
                <input type="hidden" name="type" value="shop">
                <div>
                    <div class="column-left">

                        {{ renderOutputGallery(currentPage, fields, 'image') }}

                    </div>
                    <div class="column-right">

                        {% include 'flash_messages.html.twig' %}

                        {{ renderOutputTypeChunk(currentPage, fields, 'tag', 'page_') }}

                        <div class="my-3">
                            {{ renderOutputTypeChunk(currentPage, fields, 'description') }}
                        </div>
                        <div class="my-3">
                            {{ renderOutputTypeChunk(currentPage, fields, 'parameters', 'page_') }}
                        </div>
                        <div class="my-3">
                            {{ renderOutputTypeChunk(currentPage, fields, 'file_download') }}
                        </div>
                        {% if currentPage.price > 0 %}
                            <div class="my-3">
                                {{ 'Price' | trans }}:
                                <span class="big font-weight-bold shk-price">{{ currentPage.price | price }}</span>
                                <span class="shk-currency">{{ currency }}</span>
                            </div>
                        {% endif %}
                        <div class="my-3">
                            {% if shopCartProductCount(currentPage.id, contentType.name) > 0 %}
                                <a class="btn btn-info" href="{{ path('shop_cart_edit') }}">
                                    {{ 'Proceed to checkout' | trans }}
                                </a>
                            {% else %}
                                <input type="number" class="form-control d-inline-block text-center mr-2" value="1" min="1" step="1" name="count" style="width: 100px;">
                                <button type="submit" class="btn btn-primary" name="submit_button">
                                    {{ 'Add to cart' | trans }}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
    </main>

    <script>
        var shoppingCart;
        document.addEventListener('DOMContentLoaded', function() {
            shk.productParametersInit('#shk-form', '.shk-price');

            // Shopping cart
            shoppingCart = new ShoppingCart({
                baseUrl: '',
                connectorUrl: '{{ path('shop_cart_action') }}',
                selector: '#shoppingCartSmallContainer',
                productFormSelector: '.shk-item form',
                snippetPropertySetName: 'shop_cart'
            });

            // Display image for parameter
            var $carousel = jQuery('#carouselImageGallery');
            jQuery('#shk-form input[name="param__parameters"]').each(function() {
                jQuery(this).on('click', function() {
                    var imageNumber = jQuery(this).data('image-number') || 0;
                    if (!imageNumber) {
                        return;
                    }
                    $carousel.carousel(imageNumber - 1);
                });
            });
        });
    </script>

{% endblock %}
