<nav class="navbar-header navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-block">
        <div class="float-right mt-1 pt-2 pr-3 pr-lg-0">

            <div class="d-inline-block">
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-outline-primary" data-toggle="tooltip" title="{{ 'Administration' | trans }}" href="{{ path('admin') }}" rel="nofollow">
                            <i class="icon-cog"></i>
                        </a>
                    {% endif %}
                    <div class="d-inline-block ml-1">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="icon-head"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ path('profile_history_orders') }}" rel="nofollow">
                                    <i class="icon-list text-muted"></i>
                                    &nbsp;
                                    {{ 'History of orders' | trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('profile_contacts') }}" rel="nofollow">
                                    <i class="icon-head text-muted"></i>
                                    &nbsp;
                                    {{ 'Contact details' | trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a class="dropdown-item text-muted" href="{{ path('homepage', {'_switch_user': '_exit'}) }}" rel="nofollow">
                                        <i class="icon-esc"></i>
                                        &nbsp;
                                        {{ 'Exit impersonation' | trans }}
                                    </a>
                                {% endif %}
                                <a class="dropdown-item text-muted" href="{{ logout_path() }}" rel="nofollow">
                                    <i class="icon-power"></i>
                                    &nbsp;
                                    {{ 'Log out' | trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-sm btn-outline-primary ml-1" href="{{ path('login') }}" rel="nofollow">
                        {{ 'Log in' | trans }}
                        <i class="icon-unlock"></i>
                    </a>
                {% endif %}
            </div>

            <div class="d-inline-block ml-1">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary text-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/flag_{{ app.request.locale }}.png">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right border-secondary" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item rounded-0{% if app.request.locale == 'ru' %} active{% endif %}" href="{{ path('locale_switch', {locale: 'ru'}) }}" rel="nofollow">
                            <img src="/img/flag_ru.png" alt="Русский">
                            Русский
                        </a>
                        <a class="dropdown-item rounded-0{% if app.request.locale == 'en' %} active{% endif %}" href="{{ path('locale_switch', {locale: 'en'}) }}" rel="nofollow">
                            <img src="/img/flag_en.png" alt="English">
                            English
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div style="margin-right: 175px;">
            {{ categoriesTree(0, 'menu_dropdown', null, activeCategoriesIds, true) }}
        </div>
    </div>
</nav>
<header>
    <div class="inner">
        <div class="container">

            <div class="float-right ml-2">
                {{ currencyList() }}
            </div>

            {% if app.request.attributes.get('_route') not in ['search'] %}
                <div class="float-right position-relative">
                    <div class="position-absolute pos-right-top">
                        <form class="d-block" action="{{ path('search_results') }}" method="get" id="formSearch">
                            <div class="input-group input-group-sm" style="width: 220px;">
                                <input type="text" class="form-control" placeholder="{{ 'Search' | trans }}..." name="query">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <a class="header-brand" href="{{ path('homepage') }}">
                {{ app_name }}
            </a>
        </div>
    </div>
</header>
