{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main role="main" class="container">

        <div class="float-lg-right mb-3 text-right">
            {{ shopCart('favorites_link', 'favorites') }}
        </div>

        <h1>{{ 'Home page' | trans }}</h1>

        <div class="min-height400">

            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ 'Catalog' | trans }}
                    </h4>
                    <hr>
                    <div class="card-text">
                        <p>
                            {{ 'Total Categories' | trans }}: <b>{{ countCategories }}</b>
                        </p>
                        <p>
                            {{ 'Total products' | trans }}: <b>{{ countProducts }}</b>
                        </p>
                    </div>
                    {% if categoriesTopLevel|length > 0 %}
                        <a href="{{ catalogPath(categoriesTopLevel[0].uri) }}" class="btn btn-primary">
                            {{ 'Go to product catalog' | trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if description is not empty %}
                <div class="py-3">
                    {{ description | raw }}
                </div>
            {% endif %}

            <div class="mb-5">
                <h3>{{ 'New items' | trans }}</h3>

                {{ contentList(
                'content_list_slider',
                'products',
                {"isActive": true, "tags": {"$elemMatch": {"$in": ["New" | trans]}}},
                {"_id": "desc"},
                20, 4, 'homepage_novelty', 'hn_page', 'hn_limit', {currency: currency, sliderName: 'Novelty'}
                ) }}
            </div>

        </div>
    </main>
{% endblock %}
