{% extends 'base.html.twig' %}

{% block body %}
    <div class="min-height400">

        <h1>
            {{ 'Searching results' | trans }}
        </h1>

        <div class="card card-body bg-light mb-3">
            <form class="d-block m-0" action="{{ pathLocalized('search_results') }}" method="get" id="formSearch">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="{{ 'Search' | trans }}..." name="query" value="{{ searchWord }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-search"></i>
                            {{ 'Search' | trans }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {% if totalItems is defined and totalItems > 0 %}
            {% for item in itemsArr %}
                {% set index = loop.index0 %}
                {% if itemsArr[index] | length > 0 %}
                    <h3>{{ contentTypeArr[index].title | default('') }}</h3>
                    <p>
                        {{ '%count% product found|%count% products found' | trans({'%count%': totalItemsArr[index]}) }}.
                    </p>
                    {% for item in itemsArr[index] %}
                        <div class="card card-body mb-3">
                            <div class="catalog-list-item">
                                <div class="catalog-list-item-inner">
                                    {{ renderOutputTypeArray(item, contentTypeArr[index].getFieldsForList(), 'search_', {"currency": currency}) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% include 'nav/pagination.html.twig' %}

        {% else %}
            {% if searchWord is not empty %}
                <div class="alert alert-info">
                    {{ 'search.nothing_found' | trans }}
                </div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
