{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container">

        <div class="min-height400">

            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <h1>
                        {{ 'Order checkout' | trans }}
                    </h1>

                    <div class="py-3">
                        {% if not is_granted('ROLE_USER') %}
                            <div class="float-right">
                                <a href="{{ pathLocalized('register') }}">{{ 'Sign up' | trans }}</a>
                            </div>
                        {% endif %}
                        <a class="btn btn-outline-info" href="{{ pathLocalized('shop_cart_edit') }}">
                            <i class="icon-keyboard_arrow_left"></i>
                            {{ 'Edit an order' | trans }}
                        </a>
                    </div>

                    {{ form_start(form, {'noDeliveryFirst': true, 'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-md-6">

                            {% if checkoutFields is empty or 'options' in checkoutFields %}
                                <div class="card bg-light mb-3" id="shkDeliveryAddress">
                                    <div class="card-header">
                                        <span>
                                            {{ 'Delivery address' | trans }}
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        {{ form_widget(form.options) }}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-md-6{% if 'options' not in checkoutFields %} offset-md-3{% endif %}">

                            {{ form_widget(form) }}

                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-info btn-lg" name="button-submit">
                                    {{ 'Submit order' | trans }}
                                </button>
                            </div>

                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </main>
{% endblock %}