{% extends 'base.html.twig' %}

{% block title %}{{ currentPage.title | default('') }} - {{ app_name }}{% endblock %}

{% block body %}

    {% include 'nav/breadcrumbs.html.twig' %}

    <h1>{{ fieldByLocale(currentPage, getFieldNameByChunk('header', fields, 'title')) }}</h1>

    {{ renderOutputTypeArray(currentPage, contentType.getFieldsForPage(['title']), 'page_') }}

    {% if currentPage.form_name is defined and currentPage.form_name is not empty -%}
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {{ renderForm(currentPage.form_name, 'form/bootstrap_5_horizontal_layout.html.twig') }}
            </div>
        </div>
    {% endif %}

    {% include 'flash_messages.html.twig' %}
{% endblock %}
