{% extends 'base.html.twig' %}

{% block title %}{{ currentPage.title | default('') }} - {{ app_name }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container min-height400">

        <h1>{{ fieldByLocale(currentPage, getFieldNameByChunk(currentPage, fields, 'header')) }}</h1>

        {{ renderOutputTypeChunk(currentPage, fields, 'description') }}

        {% if currentPage.form_name is defined and currentPage.form_name is not empty -%}
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    {{ renderForm(currentPage.form_name, 'form/bootstrap_4_horizontal_layout.html.twig') }}
                </div>
            </div>
        {% endif %}

        {% include 'flash_messages.html.twig' %}

    </main>
{% endblock %}
