<div class="shop-cart-bottom">
    <div class="shop-cart-bottom-b">
        <div class="container">
            <div class="float-md-left">
                {{ 'Selected' | trans }}:
                <span class="badge badge-pill badge-light big mx-2">
                    {{ countTotal }}
                </span>
                {{ 'product with a total cost|products with a total cost' | transchoice(countTotal) }}
                <span class="badge badge-light big mx-2 shk-price">{{ priceTotal | price }}</span>
                <span class="shk-currency">{{ currencySelected }}</span>
            </div>
            {% if app.request.attributes.get('_route') not in ['page_checkout','shop_cart_edit'] %}
                <div class="float-md-right mt-3 mt-md-0">
                    <a class="btn btn-outline-light" href="{{ path('shop_cart_edit') }}">
                        {{ 'Proceed to checkout' | trans }}
                    </a>
                    <a class="btn btn-outline-light ml-1" href="{{ path('shop_cart_clear') }}" data-toggle="tooltip" data-placement="top" title="{{ 'Empty cart' | trans }}">
                        <i class="icon-cross"></i>
                    </a>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>