{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>
{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('admin/bundle/styles.421b5bde160055272a88.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var global = global || window;
        var process = process || {
            env: { DEBUG: undefined },
            version: []
        };
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            filesDirUrl: '{{ settings.filesDirUrl }}',
            locale: '{{ settings.locale }}',
            rolesHierarchy: {{ settings.rolesHierarchy | json_encode() | raw }},
            systemSettings: {{ settings.systemSettings | json_encode() | raw }}
        };
    </script>
    <script type="text/javascript" src="/admin/i18n/{{ settings.locale }}.js"></script>
    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('admin/bundle/runtime.d627049f898f01e17541.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle/polyfills.dd0e0f3b68172ea522a4.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle/scripts.abc521399cddc9dfff22.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle/main.64e1364a8035d95b9320.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/polyfills.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/styles.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('admin/bundle-dev/main.js') }}"></script>
    {% endif %}
{% endblock %}
