{% extends 'base.html.twig' %}

{% block body %}

    <div class="container p-5">

        <div class="row justify-content-md-center">
            <div class="col col-md-6">

                <div class="text-center">
                    <img src="{{ app_logo_image_url }}" width="165" alt="{{ app_name }}">
                </div>

                <hr>

                <h2>{{ 'Reset password' | trans }}</h2>

                {% include 'flash_messages.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="button-submit">
                        {{ 'Reset password' | trans }}
                    </button>
                </div>
                {{ form_end(form) }}

                <hr>
                <p>
                    <a href="{{ pathLocalized('homepage') }}">
                        {{ 'Go to home page' | trans }}
                    </a>
                    &nbsp;&bull;&nbsp;
                    <a href="{{ pathLocalized('login') }}">
                        {{ 'Log in' | trans }}
                    </a>
                </p>

            </div>
        </div>
    </div>

    <div class="rounded position-absolute pos-right-top10 p-1" style="background-color: rgba(0,0,0,0.2);">
        {{ settingsList('SETTINGS_LANGUAGES', 'languages_list', false, true) }}
    </div>

{% endblock %}

{% block footer %}{% endblock %}