<div class="filter-block">
    <h4>
        {{ filter.title | trans }}
    </h4>
    <div class="my-2">
        <div class="max-height200">
            {% for value in filter.values %}
                <div class="p-2 float-start">
                    <div class="form-check shk-color-checkbox">
                        <input type="checkbox"
                               class="form-check-input"
                               name="filter[{{ filter.name }}][]"
                               value="{{ value|replace({'#':''}) }}"
                               id="filter_{{ filter.name }}{{ loop.index }}" style="background-color: {{ value }};">
                        <label class="d-block form-check-label" for="filter_{{ filter.name }}{{ loop.index }}">

                        </label>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr>
