{% set min = min(filter.values) %}
{% set max = max(filter.values) %}
<div class="mb-5 pt-4 pb-2 px-2">
    <div class="shk-slider-range" data-name="{{ filter.name }}">
        <input class="form-control"
               name="filter[{{ filter.name }}][from]"
               type="range"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ min }}">
        <input class="form-control"
               name="filter[{{ filter.name }}][to]"
               type="range"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ max }}">
    </div>
</div>