<!-- child categories -->
<div class="row">
    {% for category in categoriesMenu %}
        <div class="col-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body min-height150 bg-cover-transparent" style="background-image: url('{{ imageUrl(category.image, '/img/market2.jpg') | imagine_filter('thumb_medium_relative') }}');">
                    <h4>
                        <a href="{{ catalogPath(category.uri) }}">
                            {{ category.title }}
                        </a>
                    </h4>
                    {% if category.description is not empty %}
                        <p class="text-muted">
                            {{ category.description }}
                        </p>
                    {% endif %}
                    {% if category.children | length > 0 %}
                        <ul class="nav flex-column mt-1 pl-3">
                            {% for childCategory in category.children %}
                                <li class="nav-item">
                                    <a href="{{ catalogPath(childCategory.uri) }}" class="nav-link py-1{% if childCategory.isActive %} disabled{% endif %}">
                                        {{ childCategory.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- /child categories -->