<ul>
    {% for category in children %}
        <li class="nav-item{% if category.children|length > 0 %} parent{% endif %}{{ twigNextPass('if $1 in uriArr', category.uri)|raw }} active{{ twigNextPass('endif')|raw }}">
            <a href="{{ catalogPath(category.uri) }}" class="nav-link">
                {{ fieldByLocale(category, 'title') }}
            </a>
            {{ categoriesTree(category.id, 'menu_dropdown_child', category)|raw }}
        </li>
    {%  endfor %}
</ul>