<div class="max-height200">
    {% for value in filter.values %}
        <label class="p-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"
                       class="custom-control-input"
                       name="filter[{{ filter.name }}][]"
                       value="{{ value|replace({'#':''}) }}"
                       id="filter_{{ filter.name }}{{ loop.index }}"{% if value|replace({'#':''}) in filter.selected %} checked="checked"{% endif %}>
                <label class="custom-control-label shk-color-checkbox" for="filter_{{ filter.name }}{{ loop.index }}" style="background-color: {{ value }};">

                </label>
            </div>
        </label>
    {% endfor %}
</div>