{% set min = min(filter.values) %}
{% set max = max(filter.values) %}
{% set minValue = min %}
{% set maxValue = max %}
{% if filter.selected.from is defined %}
    {% set minValue = filter.selected.from %}
{% endif %}
{% if filter.selected.to is defined %}
    {% set maxValue = filter.selected.to %}
{% endif %}
<div class="mb-5 pt-4 pb-2 px-3">
    <div class="shk-slider-range">
        <input class="form-control"
               name="filter[{{ filter.name }}][from]"
               type="range"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ minValue }}">
        <input class="form-control"
               name="filter[{{ filter.name }}][to]"
               type="range"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ maxValue }}">
    </div>
</div>