{% extends 'base.html.twig' %}

{% block body %}

<div class="container p-5">

    <div class="row justify-content-md-center">
        <div class="col col-md-6">

            <div class="text-center">
                <img src="{{ app_logo_image_url }}" width="165" alt="{{ app_name }}">
            </div>

            <hr>

            <h2>{{ 'Registration' | trans }}</h2>

            {{ form_start(form, {'action': path('register')}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="button-submit">
                    {{ 'Sign up' | trans }}
                </button>
            </div>
            {{ form_end(form) }}

            <hr>
            <p>
                <a href="{{ path('homepage_localized', {'_locale': app.request.locale}) }}">
                    {{ 'Go to home page' | trans }}
                </a>
                &nbsp;&bull;&nbsp;
                <a href="{{ path('login') }}">
                    {{ 'Log in' | trans }}
                </a>
            </p>

        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}