{% extends 'profile/profile.html.twig' %}

{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}

{% block content %}

    <h4>{{ 'Contact details' | trans }}</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button-submit">
            {{ 'Submit' | trans }}
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}
