{% extends 'profile/profile.html.twig' %}

{% block content %}

    <h4>{{ 'History of orders' | trans }}</h4>

    {% if orders | length == 0 %}
        <div class="alert alert-info">
            {{ 'Empty.' | trans }}
        </div>
    {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        {{ 'Order date' | trans }}
                    </th>
                    <th>
                        {{ 'Price' | trans }}
                    </th>
                    <th colspan="2">
                        {{ 'Order status' | trans }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a name="order_details{{ order.id }}"></a>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.createdDate | date("d/m/Y H:i") }}
                        </td>
                        <td>
                            <b>{{ order.price | price }}</b>
                            {{ order.currency }}
                        </td>
                        <td class="text-center">
                            <span class="badge text-white" style="background-color: {{ order.statusColor(orderStatusSettings) }};">
                                {{ order.status }}
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-secondary btn-sm" href="{{ path(app.request.attributes.get('_route'), {'page': pagesOptions.current, 'orderId': order.id}) }}#order_details{{ order.id }}" title="{{ 'Order list' | trans }}" data-toggle="tooltip" data-placement="bottom">
                                <i class="icon-list"></i>
                            </a>
                        </td>
                    </tr>
                    {% if currentOrderId == order.id %}
                        <tr>
                            <td colspan="5" class="bg-light">

                                <table class="table bg-light">
                                    <thead>
                                        <tr>
                                            <th>
                                                {{ 'Product Name' | trans }}
                                            </th>
                                            <th>
                                                {{ 'Price' | trans }}
                                            </th>
                                            <th>
                                                {{ 'Quantity' | trans }}
                                            </th>
                                            <th>
                                                {{ 'Price total' | trans }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for orderContent in order.content %}
                                        <tr>
                                            <td>
                                                <a href="/{{ orderContent.uri }}" target="_blank">
                                                    {{ orderContent.title }}
                                                </a>
                                                {% if orderContent.parametersString is not empty %}
                                                    <div class="text-muted small">
                                                        {{ orderContent.parametersString }}
                                                    </div>
                                                {% endif %}
                                                {% if orderContent.filesString is not empty %}
                                                    <div class="text-muted small">
                                                        <i class="icon-file"></i>
                                                        {{ orderContent.filesString }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ orderContent.price | price }}
                                                {{ order.currency }}
                                            </td>
                                            <td>
                                                {{ orderContent.count }}
                                            </td>
                                            <td>
                                                {{ orderContent.priceTotal | price }}
                                                {{ order.currency }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="3">
                                                {{ 'Delivery method' | trans }}:
                                                {{ order.deliveryName }}
                                            </td>
                                            <td>
                                                {{ order.deliveryPrice }}
                                                {{ order.currency }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right">
                                                {{ 'Price total' | trans }}:
                                            </td>
                                            <td>
                                                {{ order.price | price }} {{ order.currency }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                {% if order.comment is not empty %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <b>{{ 'Comment' | trans }}:</b>
                                            <br>
                                            {{ order.comment | nl2br }}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if order.paymentName is not empty %}
                                    <div class="mb-3">
                                        <span>{{ 'Payment method' | trans }}:</span>
                                        <b>{{ order.paymentName }}</b>
                                    </div>
                                {% endif %}

                                <div class="text-right">
                                    <div class="float-left">
                                        {% if isPaymentAllowed %}
                                            <form action="{{ path('omnipay_start', {id: order.id}) }}" method="post">
                                                <input name="{{ receiptOptionName }}" type="hidden" value='{{ receiptJSON | raw }}'>
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    {{ 'Pay now' | trans }}
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if order.isPaid %}
                                            <strong class="text-success">{{ 'Paid' | trans }}</strong>
                                        {% endif %}
                                    </div>
                                    <a class="btn btn-secondary btn-sm" href="{{ path(app.request.attributes.get('_route'), {'page': pagesOptions.current}) }}">
                                        {{ 'Close' | trans }}
                                    </a>
                                    <div class="clearfix"></div>
                                </div>

                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% include 'nav/pagination_simple.html.twig' %}

    {% endif %}

{% endblock %}
