{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main role="main" class="container">
        <h1>{{ 'Profile' | trans }}</h1>

        <div class="min-height400">

            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="list-group mb-3" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-orders" role="tab">
                                    {{ 'History of orders' | trans }}
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-change_password" role="tab">
                                    {{ 'Change password' | trans }}
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-change_profile" role="tab">
                                    {{ 'Profile' | trans }}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-orders" role="tabpanel">
                                    <h4>{{ 'History of orders' | trans }}</h4>
                                </div>
                                <div class="tab-pane fade" id="list-change_password" role="tabpanel">

                                    <h4>{{ 'Change password' | trans }}</h4>

                                    {{ form_start(formChangePassword, {'action': path('profile_change_password')}) }}
                                    {{ form_widget(formChangePassword) }}
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" name="button-submit">
                                            {{ 'Submit' | trans }}
                                        </button>
                                    </div>
                                    {{ form_end(formChangePassword) }}

                                </div>
                                <div class="tab-pane fade" id="list-change_profile" role="tabpanel">
                                    <h4>{{ 'Profile' | trans }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>

{% endblock %}