{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <main role="main" class="container">
        <h1>{{ 'Profile' | trans }}</h1>

        <div class="min-height400">

            <div class="row">
                <div class="col-md-6 offset-md-3">

                    {{ form_start(form, {'action': path('profile_change_password')}) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="button-submit">
                            {{ 'Submit' | trans }}
                        </button>
                    </div>
                    {{ form_end(form) }}

                    <hr>
                    <p>
                        <a href="{{ path('profile') }}">
                            {{ 'Profile' | trans }}
                        </a>
                    </p>

                </div>
            </div>

        </div>
    </main>

{% endblock %}