<div class="my-3">
    <div class="mb-2">
        {{ 'You can upload file' | trans }}:
        <b>{{ fieldProperties.outputProperties.allowed_extensions }}</b>
    </div>
    <div class="card card-body d-inline-block">
        <button type="button" class="btn btn-info px-5" name="{{ fieldData.name }}" data-accept="{{ fieldProperties.outputProperties.allowed_extensions }}" id="buttonFileUpload-{{ fieldData.name }}">
            <i class="icon-upload"></i>
            {{ 'Upload file' | trans }}
        </button>
        <button type="button" class="btn btn-secondary ml-2" id="buttonFileUploadCancel-{{ fieldData.name }}" title="{{ 'Cancel' | trans }}" style="display: none;">
            <i class="icon-cross"></i>
        </button>
        <div class="mt-2 text-muted text-center" id="fileNameContainer-{{ fieldData.name }}"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        shk.updateOptions({baseUrl: '{{ app.request.baseUrl }}/'});
        shk.orderUploadFileInit(
            {{ itemData.parentId }},
            '#buttonFileUpload-{{ fieldData.name }}',
            '#buttonFileUploadCancel-{{ fieldData.name }}',
            '#fileNameContainer-{{ fieldData.name }}',
            'shop'
        );
    });
</script>