{% if firstSelected is not defined %}
    {% set firstSelected = true %}
{% endif %}
{% set selectedNumber = firstSelected ? 1 : 0 %}
{% set labelText = '' %}
{% set groupIndex = 0 %}

{% if not groupByName %}
    <div class="text-muted">
        <label for="param__{{ itemData._id }}__{{ fieldData.name }}__{{ groupIndex }}">{{ fieldData.title }}:</label>
    </div>
{% endif %}

{% if type == 'radio' %}

    {% for item in data %}
        {% if groupByName and labelText != data[loop.index0].name %}
            {% set labelText = data[loop.index0].name %}
            {% set groupIndex = groupIndex + 1 %}
            {% if firstSelected %}{% set selectedNumber = loop.index %}{% endif %}
            <div class="text-muted mb-2">
                {{ labelText }}:
            </div>
        {% endif %}
        <div class="mb-1{% if className is defined and not empty %} {{ className }}{% endif %}">
            <input type="radio" name="param__{{ fieldData.name }}__{{ groupIndex }}" id="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}" value="{{ item.value | default(item.name) }}"{% if loop.index == selectedNumber %} checked="checked"{% endif %} data-image-number="{{ item.imageNum | default(0) }}" data-price="{{ item.price }}">
            <label for="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}">
                {% if groupByName %}
                    {{ item.value | default(item.name) }}
                {% else %}
                    {{ item.name | default(item.value) }}
                {% endif %}
            </label>
        </div>
    {% endfor %}

{% elseif type == 'checkbox' %}

    {% for item in data %}
        {% if groupByName and labelText != data[loop.index0].name %}
            {% set labelText = data[loop.index0].name %}
            {% set groupIndex = groupIndex + 1 %}
            {% if firstSelected %}{% set selectedNumber = loop.index %}{% endif %}
            <div class="text-muted mb-2">
                {{ labelText }}:
            </div>
        {% endif %}
        <div class="mb-1{% if className is defined and not empty %} {{ className }}{% endif %}">
            <input type="checkbox" name="param__{{ fieldData.name }}[]" id="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}" value="{{ item.value | default(item.name) }}"{% if loop.index == 1 and firstSelected %} checked="checked"{% endif %} data-image-number="{{ item.imageNum | default(0) }}" data-price="{{ item.price }}">
            <label for="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}">
                {% if groupByName %}
                    {{ item.value | default(item.name) }}
                {% else %}
                    {{ item.name | default(item.value) }}
                {% endif %}
            </label>
        </div>
    {% endfor %}

{% elseif type == 'select' %}

    <div{% if className is defined and not empty %} class="{{ className }}"{% endif %}>
        {% if not groupByName %}
        <div class="mb-3"><select class="form-control" name="param__{{ itemData._id }}__{{ fieldData.name }}__{{ groupIndex }}" id="param__{{ fieldData.name }}__{{ groupIndex }}">
                {% endif %}
                {% for item in data %}
                {% if groupByName and labelText != data[loop.index0].name %}
                {% set labelText = data[loop.index0].name %}
                {% set groupIndex = groupIndex + 1 %}
                {% if firstSelected %}{% set selectedNumber = loop.index %}{% endif %}
                {% if groupIndex > 1 %}</select></div>{% endif %}
        <div class="text-muted">
            <label for="param__{{ fieldData.name }}__{{ groupIndex }}">{{ labelText }}:</label>
        </div>
        <div class="mb-3"><select class="form-control" name="param__{{ fieldData.name }}__{{ groupIndex }}" id="param__{{ itemData._id }}__{{ fieldData.name }}__{{ groupIndex }}">
                {% endif %}
                <option value="{{ item.value | default(item.name) }}" data-image-number="{{ item.imageNum | default(0) }}" data-price="{{ item.price }}">
                    {% if groupByName %}
                        {{ item.value | default(item.name) }}
                    {% else %}
                        {{ item.name | default(item.value) }}
                    {% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

{% elseif type == 'text' %}

    {% for item in data %}
        <div class="mb-3 row{% if className is defined and not empty %} {{ className }}{% endif %}">
            <div class="col-md-4">
                <label for="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}">
                    {% if groupByName %}
                        {{ item.value | default(item.name) }}
                    {% else %}
                        {{ item.name | default(item.value) }}
                    {% endif %}
                </label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="param__{{ fieldData.name }}[]" id="param__{{ itemData._id }}__{{ fieldData.name }}_{{ loop.index }}" value="{% if not groupByName %}{{ item.value }}{% endif %}" data-image-number="{{ item.imageNum | default(0) }}" data-price="{{ item.price }}">
            </div>
        </div>
    {% endfor %}

{% endif %}
